<div class="container-fluid">
  <h2 class="text-center">Add Quote</h2>
  <form (ngSubmit)="onSubmit(); quoteForm.resetForm()" #quoteForm="ngForm">
    <div class="form-group mb-3">
      <label for="quote">Quote</label>
      <input
        type="text"
        class="form-control"
        id="quote"
        name="quote"
        [(ngModel)]="newQuote.quote"
        required
      />
    </div>
    <div class="form-group mb-3">
      <label for="author">Quote Author</label>
      <input
        type="text"
        class="form-control"
        id="author"
        name="author"
        [(ngModel)]="newQuote.author"
        required
      />
    </div>
     <div class="form-group mb-3">
      <label for="addedBy">Added by</label>
      <input
        type="text"
        class="form-control"
        id="addedBy"
        name="addedBy"
        [(ngModel)]="newQuote.addedBy"
        required
      />
    </div>
    <div class="form-group mb-3">
      <label for="date">Date</label>
      <input class="form-control" type="date" id="date" name="date"  [(ngModel)]="newQuote.date" required />
    </div>
    <button type="submit" class="btn btn-success">Add Quote</button>
  </form>
</div>
