<div class="card mb-3">
  <div class="card-body">
    <blockquote class="blockquote">
      <p>{{ quoteObj.quote }}.</p>
      <footer class="blockquote-footer">
        This is a quote by
        <cite title="Source Title"> {{ quoteObj.author }} </cite>
      </footer>
    </blockquote>
    <app-button btnText="See More" (btnClick)="showDetails()"></app-button>
    <app-quote-details
      *ngIf="quoteObj.showDetails"
      (delete)="onDelete()"
      [upvote]="quoteObj.upvote"
      [downvote]="quoteObj.downvote"
      (upClick)="upvote()"
      (downClick)="downvote()"
    ></app-quote-details>
  </div>
  <div class="card-footer">
    Added by <cite title="Source Title"> {{ quoteObj.addedBy }} </cite>
    <p>{{ quoteObj.date }}</p>
  </div>
</div>
