<div class="container-fluid">
  <h1 class="text-center">My Quote App</h1>
  <hr />
  <div class="mt-3">
    <div class="row">
      <div class="col-md-4">
        <app-quote-form></app-quote-form>
      </div>
      <div class="col-md-8">
        <h1 class="text-center mb-3">Quotes</h1>
        <div class="d-flex justify-content-around">
          <app-quote
            [ngStyle]="{ width: '32%' }"
            *ngFor="let quote of qoutes; let i = index"
            (deleteQuote)="delete(i)"
            [quoteObj]="quote"
          ></app-quote>
        </div>
      </div>
    </div>
  </div>
</div>
